# Task 01:

Given a set of documents, how can you create a binary representation where each word is represented as a binary feature (1 for presence, 0 for absence)?

Question: Write a Python script to perform One-Hot Encoding on the following documents:

        "I love programming in Python."
        "Python programming is fun."
        "I love learning new languages."

Display the result in a tabular format with rows representing documents and columns representing words.

In [1]:
documents = [
    
    "I love programming in Python.",
    "Python programming is fun.",
    "I love learning new languages."
    
]

In [2]:
import pandas as pd

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
CV = CountVectorizer()

In [5]:
X = CV.fit_transform(documents)

In [6]:
encoded_data = pd.DataFrame(X.toarray(), columns=CV.get_feature_names_out())

In [7]:
encoded_data['id'] = list(range(len(encoded_data)))

In [8]:
encoded_data

   fun  in  is  languages  learning  love  new  programming  python  id
0    0   1   0          0         0     1    0            1       1   0
1    1   0   1          0         0     0    0            1       1   1
2    0   0   0          1         1     1    1            0       0   2

In [9]:
docs = pd.DataFrame(documents)

In [10]:
docs['doc_id'] = list(range(len(docs)))

In [11]:
docs.columns = ['Document', 'id']

In [12]:
df = docs.merge(encoded_data, on='id', how='inner')

In [13]:
df.head(5)

,Document,id,fun,in,is,languages,learning,love,new,programming,python
0,I love programming in Python.,0,0,1,0,0,0,1,0,1,1
1,Python programming is fun.,1,1,0,1,0,0,0,0,1,1
2,I love learning new languages.,2,0,0,0,1,1,1,1,0,0

# Task 02:

Given a set of documents, create a frequency-based representation where each word is represented by its count in the document. Analyze the frequency of words that appear more than once.

Question: Write a Python script to perform Bag of Words with frequency counting on the following
documents:

    "Data science is fun. Data science involves statistics and coding."
    "Coding is an essential skill for data science."
    "Statistics and data analysis are crucial for data science."

Display the result in a tabular format showing the frequency of each word in each document. Make sure to highlight words that appear more than once within each document and across documents.

In [14]:
document = [
    
    "Data science is fun. Data science involves statistics and coding.",
    "Coding is an essential skill for data science.",
    "Statistics and data analysis are crucial for data science."
    
]

In [15]:
X = CV.fit_transform(document)

In [16]:
encoded_data = pd.DataFrame(X.toarray(), columns=CV.get_feature_names_out())

In [17]:
encoded_data

,an,analysis,and,are,coding,crucial,data,essential,for,fun,involves,is,science,skill,statistics
0,0,0,1,0,1,0,2,0,0,1,1,1,2,0,1
1,1,0,0,0,1,0,1,1,1,0,0,1,1,1,0
2,0,1,1,1,0,1,2,0,1,0,0,0,1,0,1

In [18]:
doc = pd.DataFrame(document)

In [19]:
doc

                                                   0
0  Data science is fun. Data science involves sta...
1     Coding is an essential skill for data science.
2  Statistics and data analysis are crucial for d...

In [20]:
encoded_data.index = [f"Document {i+1}" for i in range(len(documents))]

In [21]:
encoded_data

,an,analysis,and,are,coding,crucial,data,essential,for,fun,involves,is,science,skill,statistics
Document 1,0,0,1,0,1,0,2,0,0,1,1,1,2,0,1
Document 2,1,0,0,0,1,0,1,1,1,0,0,1,1,1,0
Document 3,0,1,1,1,0,1,2,0,1,0,0,0,1,0,1

In [22]:
for i, d in enumerate(encoded_data.index):
    repeated_words = encoded_data.loc[d][encoded_data.loc[d] > 1]    
    if not repeated_words.empty:
        print(repeated_words)
    else:
        print("No word appears more than once.")

data       2
science    2
Name: Document 1, dtype: int64
No word appears more than once.
data    2
Name: Document 3, dtype: int64

In [23]:
total_word_counts = encoded_data.sum(axis=0)

In [24]:
repeated_across_docs = pd.DataFrame(total_word_counts[total_word_counts > 1], columns=['Count']).sort_values(by='Count', ascending=False)

In [25]:
repeated_across_docs

            Count
data            5
science         4
and             2
coding          2
for             2
is              2
statistics      2

In [26]:
# Done